header {
    background-color: darkgray;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}

nav {
    float: left;
    width: 30%;
    height: 200px;
    background: #ccc;
    padding: 1px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
  float: right;
  padding: 1px;
  width: 69.66%;
  background-color: #f1f1f1;
  
}
#log-output {
    
}

input {
    float: bottom;
    padding: 1px;
    width: 100%;
    height: 60px;
    font-size: 40px;
}


/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: blue;
  padding: 10px;
  text-align: left;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
#unorderedList {
    list-style: none;
    overflow: scroll;
    height: 130px;
}